<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users with Templates</title>
  </head>
  <body>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
      </tr>
      {% for i in users %}
      <tr>
        <td>{{i.id}}</td>
        <td>{{i.first_name}} {{i.last_name}}</td>
        <td>{{i.email_address}}</td>
        <td>{{i.age}}</td>
      </tr>
      {% endfor %}
    </table>
    <br />
    <form action="/processes" method="POST">
        {% csrf_token %}
      <h1>Add a User</h1>
      <p>First Name: <input type="text" name="first"/></p>
      <p>Last Name: <input type="text" name="last"/></p>
      <p>Email: <input type="email" name="email"/></p>
      <p>Age: <input type="text" name="age"/></p>
      <button type="submit">Add</button>
    </form>
  </body>
</html>