<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOJO NINJA</title>
</head>
<body>
    <form action="/dojo" method="POST">
        <h3>Add Dojo</h3>
        {% csrf_token %}
        name  <br><input type="text" name="name"><br>
        City  <br><input type="text" name="city"><br>
        State<br><input type="text" name="state"><br>
        <input type="submit" value="Add">
    </form>
    <form action="/ninja" method="POST">
        {% csrf_token %}
        <h3>Add Ninja</h3>
        First Name <br><input type="text" name="first_name"><br>
        Last Name <br> <input type="text" name="last_name"><br>
        Dojo       <br><select name="select" id="sel">
                    {% for dojo in dojos %}
                        <option value={{dojo.id}}>This is a {{dojo.name}} ********</option>
                    {% endfor %}
                    </select><br>
                    <input type="submit" value="Add">
    </form>
    <ul>
        {% for dojo in dojos %}
        <li>{{dojo.name}}</li>
        {% endfor %}
    </ul>
</body>
</html>