<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Go back</a>
    <h1>add a new show</h1>
    <form action="add/show" method="POST">
        {% csrf_token %}
        Title:
        <input type="text" name="title">

        Network:
        <input type="text" name="network"> 

        Release Date
        <input type="date" name="rd">

        Description
        <textarea name="des"></textarea>
        
        <input type="submit" value="create">

        
    </form>
</body>
</html>