<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tv Show :{{show.id}}</h1>
    <p>Title:{{show.Title}}</p>
    <p>network :{{show.Network}}</p>
    <p>Released Date:{{show.Release_Date}}</p>
    <p>Description:{{show.Des}}</p>
    <br>
    <p>last updated:{{show.updated_at}}</p>
    <a href="shows/{{show.id}}/edit">Edit</a>
    <a href="">Delete</a>
</body>
</html>