<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chekerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/st.css') }}">
</head>
<body>  
    <main>
        <nav>
            {% for i in range(0,4) %}
                <div class="red"></div>
                <div class="black"></div>
            {% endfor %}
        </nav>
        <nav>
            {% for x in range(0,4) %}
                <div class="black"></div>
                <div class="red"></div>
            {% endfor %}
        </nav>
    </main>
</body>
</html>